# Python virtual env
.venv/
__pycache__/
*.py[cod]


# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Environment / secrets
.env
.env.*


# Databricks
.databricks/

# VS Code
.vscode/